@font-face {
    font-family: modernLoveCaps;
    src: url("./Assets/Fonts/modernlove-caps-unspecified.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout for Index Page */
body {
    background-color: #F9F7F2;
    color: #333333;
    font-family:sans-serif;
    margin: 50px;        
    padding: 10px;
}

.logo-link {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

.logo-link:hover .logo-print {
    color: #9B57D3;
    transition: 0.3s;
}

.nav-bar ul{
    background-color: #F9F7F2;
    padding: 10px;
    font-family: sans-serif;
    list-style-type: none;
    margin: 0px; 
    overflow: hidden; 
}

.nav-bar a {
    color:#333333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;;
}

.nav-bar a:hover {
    background-color: #9B57D3;
    color: white;
}

.nav-bar li{
    float: right; 
}

h1 {
    font-size: 50px;
    font-family: modernLoveCaps, sans-serif;
    color: #333333;
}

.artist-name {
    text-align: center;
    font-size: 40px;
    font-family: modernLoveCaps, sans-serif;
    color: #333333; 
    padding: 20px; 
}

.artist-description {
    text-align: center;
    font-family: sans-serif;
    color: #333333;  
}

.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 35px;
   padding: 30px;
   margin-top: 20px;
}

.artwork-card {
    flex: 1 1 400px;
    max-width: 400px;
}

.artwork-card img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

/* Layout for Introduction Page */

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 80vh; 
    padding: 0 20px;
}

.intro-text {
    flex: 1;
    max-width: 500px;
    text-align: center; 
}

.intro-image {
    flex: 0 0 300px;
}

.intro-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px; 
}

/* Layout for Artworks Page */

.media-category {
    padding: 30px;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); 
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
}

.card-video {
    width:100%;
    height:100%;
    object-fit: cover;
    display: block; 
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    background-color: #9B57D3;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

/* Layout for About Page */

.about-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 60px;
    gap:50px;
    min-height: 80vh;
}

.about-info {
    flex: 1;
    max-width: 600px;
    line-height: 1.8;
}

.about-info h1 {
    margin-bottom: 30px;
    font-size:2.5rem;
    letter-spacing: 1px;
}

.about-info p {
    margin-bottom: 15px;
}

.about-info section {
    margin-top: 30px;
}

.about-info h2, .about-info h3, .about-info h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-info ul {
    padding-left: 20px;
}

.about-info li {
    margin-bottom: 10px;
}



.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 4px;
}

footer {
    background-color:  #e3a209;
    border-top: 1px solid #333333;
    padding: 40px;
    text-align: center;
}

footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Layout for Experience Page */

.experience-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    justify-content: center;
}

.year-card {
    background-color: #9B57D3;
    color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.year-card:hover {
    transform: scale(1.1); 
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 100;
}


.popup-content {
    background: #F9F7F2;
    width: 80%;
    max-width: 700px;
    margin: 5% auto;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.popup-images {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.popup-images img {
    width: 33%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}
